@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

body[data-mode='day'] {
  --bg-color: #EAEBED;
  --text-color: #202030;
  --accent-color: #006989;
  --link-color: #388659;
  font-family: 'Arial', sans-serif;
}

body[data-mode='night'] {
  --bg-color: #3C3C3C;
  --text-color: #508CA4;
  --accent-color: #EDF7F6;
  --link-color: #FC7753;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
